#station-edit-form {

    .panel-heading {
        cursor: pointer;
    }
}

.violator-scheduling-option-description {
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}

.antenna-label, .frequency-ranges-label {
    display: inline-block;
    max-width: 100%;
    margin: 5px 3px 0 0;
    font-weight: 700;
}

.frequency-ranges {
    padding: 2px 0;
}

.frequency-ranges-label {
    margin-bottom: 5px;
}

.frequency-range-fields {

    .btn {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
}

#new-ranges {
    display: flex;
    align-items: flex-end;

    .default-range-label {
        display: block;
        font-weight: 700;
        margin-bottom: 5px;
    }
}
