.map-modal {

    .modal-lg {

        @include x-large-and-up {
            width: 1100px;
        }
    }

    .modal-body {
        height: 400px;
        padding: 0;

        @include medium-and-up {
            height: 600px;
        }
    }

    #map {
        width: 100%;
        height: 400px;

        @include medium-and-up {
            height: 600px;
        }
    }
}

.map-modal-reveal {
    float: right;
    margin: 2px 0 0 10px;
}

#station-view-image-container {
    text-align: center;
}

.station-view-image {
    object-fit: cover;
    max-width: 100%;
    height: 300px;
    border-radius: 5px;
}

.station-edit-image {
    width: 200px;
    margin: 5px 0;
}

.alert-error > .errorlist {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.antennas {

    .label-info {
        margin: 2px;
    }

    .tooltip {
        white-space: pre-line;

        .tooltip-inner {
            padding: 6px 8px 3px;
        }
    }
}

.antenna-pill {
    display: inline-block;
    color: #333;
    margin: 2px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: help;
}

.total-pill {
    background-color: #072;
}

.stations-totals {
    font-size: 2.4rem;

    @include medium-and-up {
        float: right;
    }
}
